* {
  margin: 0%;
}

header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: Courier New , Courier , monospace;
  font-size: 1em;
  font-weight: 801;
  height: 50px;
  justify-content: space-between;
}

.header-img {
  border-radius: 50%;
  display: flex;
  margin: auto;
  width: 30px;
}

.points {
  padding: 10px;
}

.player {
  padding-right: 1000px;
}
