.App-header {
  align-items: center;
  background-image: url('../images/crazy-girlfriend.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-logo {
  height: 130px;
}

form {
  align-items: center;
  background-color: rgba(84, 93, 97, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 300px;
}

form > button, input {
  border: none;
  border-radius: 5px;
  font-family: Courier New , Courier , monospace;
  height: 30px;
  margin-top: 20px;
  width: 200px;
}

.App-header img {
  width: 300px;
}

.edition-memes {
  margin-top: -70px;
  z-index: 1;
}

/* @media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
} */

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
