/* button {
  border: 2px solid #036b52;
  border-radius: 5px;
  font-family: Courier New , Courier , monospace;
  height: 30px;
  margin-top: 20px;
  width: 150px;
} */

.body-questions {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 330px;
}

/* From cssbuttons.io by @Voxybuns 
button {
 --button_radius: 0.75em;
 --button_color: #e8e8e8;
 --button_outline_color: #000000;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
} */

/* .button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;
} */

button:hover .answers {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.33em);
}

button:active .answers {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}

.timer {
  align-items: center;
  background-color: black;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-top: 60px;
  width: 80px;
}
