button {
  border: 2px solid #036b52;
  border-radius: 5px;
  font-family: Courier New , Courier , monospace;
  height: 30px;
  margin-top: 20px;
  width: 150px;
}

.body-questions {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.timer {
  align-items: center;
  background-color: #036b52;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-top: 60px;
  width: 80px;
}
