* {
  margin: 0%;
}

h1 {
  font-family: Courier New , Courier , monospace;
}

.ranking-page {
  background-image: url('../images/mercury-pink.png');
  background-size: cover;
  min-height: 100vh;
}

.ranking-board {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.player-ranking {
  align-items: center;
  background-color: rgb(211, 126, 214);
  border: solid 2px black;
  border-radius: 15px;
  color: rgb(221, 194, 43);
  display: flex;
  font-family: Courier New , Courier , monospace;
  font-size: 20px;
  font-weight: 1000;
  height: 80px;
  left: 350px;
  margin-top: 30px;
  position: relative;
  -webkit-text-stroke: 1px rgb(20, 20, 17);
  width: 500px;
}

.player-name {
  padding-left: 100px;
}

.player-score {
  padding-left: 100px;
}

.player-image {
  border-radius: 17% 0 0 17%;
}

.gohome-button {
  background-color: #0e0b0c;
  border: 2px solid #e6028b;
  border-radius: 5px;
  color: rgb(236, 213, 5);
  font-family: Courier New , Courier , monospace;
  font-size: -1em;
  font-weight: 1000;
  height: 35px;
  margin: 10px;
  margin-top: 20px;
  width: 140px;
}
